* {
    box-sizing: border-box
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25em;
}

.text-input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #444;
    display: block;
    outline: none;
    line-height: 1.1rem;
    font-family: 'Lora', serif;
    border: 1px solid #e0e0e0;
}

.btn:hover {
   background: #005255;
}

html, body {
    height:100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
}

h1,h2,h3,h4,h5,h6 {
    color: #444;
    font-family: 'Candal', serif;
    margin: 5px
}

header {
    background: #008489;
    height: 66px;
}

header .logo {
    float: left;
    margin-left: 2em;
}

header .actLogo {
    margin: 9px;
}

header * {
    color: white
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative
}

header ul li ul {
    position: absolute;
    top:66px;
    width:180px;
    right:0px;
    display:none;
    z-index: 888888;
}

header ul li:hover ul{
    display: block;
    transition:3s
}

header ul li ul li {
    width:100%
}

header ul li ul li a {
    padding:10px;
    color: #444

}

header ul li ul li a.out {
    color:red;
}

header ul li ul li a:hover {
    background: #d5d6d6
}

header ul li a {
    display: block;
    padding:21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #006669;
    transition: 0.5s
}

header .menu-toggle {
    display: none;
}

.page-wrapper {
    min-height: 100%;
}

/*Horizontal carousel*/
.post-slider {
    position: relative;
}

.post-slider .slider-title{
    text-align: center;
    font-family: serif;
}

.post-slider .post-wrapper{
    height: 350px;
    width: 84%;
    padding: 10px 0px 10px 0px;
    margin: 0px auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.post-slider .post-wrapper .post{
    display: inline-block;
    background: white;
    width:250;
    margin: 0px 10px;
    height:350px;
    border-radius: 5px;
}

.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider .post-wrapper .post .post-info{
    height: 130px;
    margin-left: 5px;
}

.post-slider .prev{
    position: absolute;
    top:50%;
    left: 30px;
    font-size: 2em;
    cursor: pointer;
    color: aqua;
}

.post-slider .next{
    position: absolute;
    top:50%;
    right: 30px;
    font-size: 2em;
    cursor: pointer;
    color: aqua;
}



/*Content*/

.content {
    width:90%;
    margin: 30px auto 30px;
}

.content .recent-post-section {
    width: 70%;
    float: left;
}

.content .recent-post-section .recent-post-title{
    margin: 20px;
}

.content .recent-post-section.single {
    background: white;
    padding: 20px 50px;
    border-radius: 5px;
}

.content .recent-post-section.single .post-title {
    text-align: center;
    padding-bottom: 50px;
}

.content .recent-post-section .post {
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

.content .recent-post-section .post .img-style {
    width: 40%;
    height: 100%;
    float: left
}

.content .recent-post-section .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .recent-post-section .post .post-preview .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*Sidebar*/
.content .sidebar{
    width:30%;
    float:left;
    height :300px;
}

.content .sidebar.single {
    padding-left: 10px
}

.content .popular .post {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}

.content .popular .post img{
    height:60px;
    width: 75px;
    float: left;
    padding-right: 10px;


}

.content .sidebar .section{
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.content .sidebar .section.search{
    margin-top: 80px;
}

.content .sidebar .section.topic ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.content .sidebar .section.topic ul li{
    display: block;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.content .sidebar .section.topic ul li:hover {
    padding-left: 10px;
    transition: all 0.5s;
    color:aquamarine
}

/*fotter*/

.footer {
    height: 400px;
    background: #303036;
    color: #d3d3d3;
    position: relative;
}

.footer .footer-content {
    border: 2px solid red;
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    border: 1px solid white;
    padding: 25px;
}


.footer .footer-bottom {
    position: absolute;
    background: #9586a2;
    width: 100%;
    height:50px;
    color: #686868;
    bottom: 0px;
    left: 0px;
    text-align: center;
    padding-top: 20px;
}

/*fotter*/




/*media queries*/
@media only screen and (max-width: 750px){

    header{
        position: relative
    }

    header ul{
        width: 100%;
        max-height: 0px;
        list-style: none;
        background: #0E94A0;
        overflow: hidden;
    }

    .showing {
        max-height: 100em;
    }

    header ul li{
        width:100%
    }

    header ul li ul{
        position: static;
        display: block;
        width:100%
    }

    header ul li ul li a {
        padding-left:50px;
        color: #444;
    }

    header .menu-toggle {
        position: absolute;
        display: block;
        right: 20px;
        top: 20px;
    }
}
